.footer {
  font-size: 1.4rem;
  color: lightgrey;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(#000000, .4);

  @include apply-layout(phone) {
    flex-direction: column;
  }

  &__external-links {
    flex: 1;
    align-self: center;
  }
  
  &__credits {
    align-self: center;
    flex: 1;
  }
  
  &__list {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    &:link,
    &:visited {
      font-size: 1.4rem;
      color: lightgrey;
    }
  }

  &__icon {
    align-self: center;
    color: $color-text-primary;
    opacity: $color-text-primary-opacity;
    padding: .2em;
    font-size: 3rem;
    @include on-hover;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
