.header {
  padding: 1em;

  .header-bg {
    display: flex;
    justify-content: center;

    height: 10vh;
    clip-path: polygon(0 0, 100% 0, 100% 8vh, 0 100%);

    h1, i {
      color: $color-primary;
    }

    h1 {
      font-size: 5em;
    }
    
    i {
      font-size: 10em;
    }
  }

  .navigation {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;

    img {
      float: left;
      width: 80px;
      height: auto;
      @include on-hover;
    }
    
    @include apply-layout(phone) {
      padding: 0;
      flex-direction: column;
    }
    
    img {
      float: left;
      width: 45px;
      height: auto;
    }
    
    i,
    input {
      font-size: x-large;
      margin: 0.1rem;
      opacity: $opacity-idle;
      
      &:focus {
        opacity: $opacity-selected-hover;
      }
    }
  }
}
