.header {
  font-size: 1.6rem;
  height: 7rem;
  background-color: rgba(#000000, .4);
  margin-bottom: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include apply-layout(big-desktop) {
    & > * {
      width: 70%;
      margin: 0 auto;
    }
  }
}
