.card {
  
  width: 15%;
  padding-top: 2rem;

  @include apply-layout(phone) {
    position: relative;
    width: 30%;
    overflow: hidden;
    padding: 1rem .5rem;
  }

  @include apply-layout(tab-port) {
    width: 30%;
  }

  @include apply-layout(tab-land) {
    width: 20%;
  }

  &__img{
    box-shadow: 0 1rem 1rem rgba(#fff, .1);
    @include on-hover;
    @include scale-on-hover(.2s, 1.05);
    width: 90%;
    height: auto;
    background-size: cover;

    @include apply-layout(phone) {
      width: 100%;
      height: auto;
    }
  }
}