.modal {
  z-index: 100;
  background: $color-bg-primary;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;

  .info-row {
    display: 'flex';
    flex-direction: 'row';
    flex-wrap: 'wrap';
  }

  @include apply-layout(phone) {
    width: 100%;
  }

  @include apply-layout(tab-port) {
    width: 40%;
  }

  @include apply-layout(tab-land) {
    width: 30%;
  }

  img {
    width: 100%;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-close-button {
  font-size: 2rem;
  font-weight: 700;
  background-color: transparent;
  color: $color-primary;
  cursor: pointer;
  border: none;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}