.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  outline: 0;
  backdrop-filter: blur(2px);

  &__fadeout {
    animation: fade-out .2s ease-in-out;
  }

  &__content {
    background-color: $color-bg-secondary;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;

    text-align: justify;
    text-decoration: none;

    animation: fade-in .2s ease-in-out;

    &__close-button:active {
      animation: fade-out .2s ease-in-out .05;
    }

    @include apply-layout(big-desktop) {
      width: 70%;
    }

    @include apply-layout(tab-port) {
      width: 80%;
    }
    
    @include apply-layout(phone) {
      width: 90%;
    }
  }

  &__close-button {
    background: none;
    border: none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    color: $color-text-primary;
    transition: transform, scale .1s;
    outline: none;

    &:hover {
      color: $color-text-secondary-selected;
      transform: scale(1.2);
    }

    @include apply-layout(phone) {
      top: 1rem;
      right: 1rem;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2.5rem;

    font-size: 1.7rem;
    font-weight: 600;
    color: $color-text-secondary;
  }

  &__release-date {
    margin-right: auto;
  }

  &__vote-count {
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__info {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    
    @include apply-layout(phone) {
      flex-direction: column;
    }
  }

  &__backdrop {
    width: max-content;
    height: max-content;
    align-self: center;
  }

  &__overview {
    padding-left: 1.5rem;

    p:not(:last-child) {
      padding-bottom: .5rem;
    }

    @include apply-layout(phone) {
      padding-left: 0;
      padding-top: .5rem;
    }
  }
  
  &__imdb-link {
    display: flex;
    align-items: center;
  }

  &__imdb-logo {
    height: 1.7rem;
    align-self: center;
    padding-left: .5rem;
    cursor: pointer;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
  }
  
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}