.pagination {
  align-self: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
  
  &__link {
    font-size: 1.8rem;
    padding: .2rem;
    
    @include scale-on-hover(.2s, 1.5);

    &:hover {
      color: $color-text-secondary-selected;
    }

    &:active {
      color: $color-text-secondary-selected;
      text-decoration: underline;
    }
  }
}