// COLORS
$color-bg-primary: #232B2B;
$color-primary: #DC3D24;
$color-text-primary: #FFFFFF;
$color-text-primary-opacity: .7;
$color-text-secondary: #E3AE57;
$color-text-secondary-selected: rgb(157, 255, 0);

$opacity-idle: .75;
$opacity-selected-hover: .9;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
